# IDEs
.vscode/
.idea/

# Python
.pytest_cache/
__pycache__/

# Data
*.weights
*.pth
data/datasets/
data/labels/
data/config/
data/references.json
data/references.py
!data/data_loading/
!data/references.json
!data/references.py
!data/config/

# Log files
*output*.txt
report.txt
